.button {
  padding: 14px 26px;

  font-family: @font-oswald;
  font-style: normal;
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: @basic-green;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #ffffff;
    opacity: 0.3;
  }

}
