.catalog-item {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(@basic-white, @basic-white 80px, @basic-grey 81px, @basic-grey 430px);
  }
}

.catalog-item__image {
  width: 50%;
  height: 112px;
  margin: 19px 0 0 0;
  object-fit: contain;

  outline: 1px solid rgba(49, 15, 241, 0.8);
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    height: 200px;
    margin: 8px auto 0 auto;
  }

  @media (min-width: @desktop-width) {
    height: 196px;
    margin: 0 auto;
  }
}

.catalog-item__info {
  width: 50%;
  margin: 19px 0 0 0;

  @media (min-width: @tablet-width) {
    width: ~"calc(100% - 72px)";
    margin: 0 36px;
  }

  @media (min-width: @desktop-width) {
    min-width: 180px;
    margin: 0 auto;
  }
}

.catalog-item__title {
  margin: 0 40% 18px 0;
  font-family: @font-oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey-2;

  @media (min-width: @tablet-width) {
    max-width: 154px;
    margin: 34px auto 21px auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    max-width: 145px;
    margin: 46px auto 21px auto;
    line-height: 21px;
  }
}

.catalog-item__data-table {
  width: 100%;
  border-collapse: collapse;
}

.catalog-item__button {
  min-width: 100%;
  margin: 13px 0 25px 0;
  padding: 10px 44px;
  border: none;
  box-shadow: none;

  @media (min-width: @tablet-width) {
    min-width: ~"calc(100% - 72px)";
    margin: 33px 0 40px 0;
  }
}
