.catalog-item {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(@basic-white, @basic-white 81px, @basic-grey 81px, @basic-grey 100%);
  }
}

.catalog-item__link {
  text-decoration: none;
  color: @special-dark-grey-2;

  &--image {
    width: 50%;

    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }
}

.catalog-item__image {
  width: 100%;
  height: 112px;
  margin: 0;
  object-fit: contain;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    height: 196px;
  }
}

.catalog-item__info {
  width: 50%;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 28px 0 33px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 42px 0 32px 0;
  }
}

.catalog-item__title {
  margin: 0 40% 15px 0;
  font-family: @font-oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey-2;

  @media (min-width: @tablet-width) {
    max-width: 154px;
    margin: 0 auto 13px auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    max-width: 145px;
    margin: 0 auto 20px auto;
    line-height: 21px;
  }
}

.catalog-item__data-table {
  width: 100%;
  border-collapse: collapse;
}

.catalog-item__button {
  width: 100%;
  margin: 7px 0 25px 0;
  padding: 10px 44px;
  box-shadow: none;

  @media (min-width: @tablet-width) {
    width: ~"calc(100% - 4px)";
    margin: 0 2px 0 3px;
    padding: 10px 44px 9px 44px;
  }

  @media (min-width: @desktop-width) {
    width: ~"calc(100% - 6px)";
    margin: 0 3px 0 3px;
  }
}
