.catalog-promo {
  min-height: 289px;
  margin: 0 20px;
  background: url("../../img/gift-photo-mobile.png") 0% 50% no-repeat;
  background-size: 100% auto;

  @media (min-width: @tablet-width) {
    min-height: 200px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../img/gift-photo-tablet.png") 0% 50% no-repeat;
    background-size: 100% auto;
  }

  @media (min-width: @desktop-width) {
    min-height: 289px;
    min-width: 245px;
    margin: 130px 0 86px 79px;
    display: block;
    background: url("../../img/gift-photo-desktop.png") 0% 50% no-repeat;
    background-size: cover;
  }
}

.catalog-promo__text {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic-white;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    margin: 58px 0 48px 0;
    display: block;
    background-image: url("../../img/icon-gift.svg");

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 82px;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      margin: 56px 0 46px 0;
    }
  }

  @media (min-width: @tablet-width) {
    margin: auto 124px auto 78px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    flex-direction: column;
    text-align: center;
  }
}
