.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item__title {
  font-family: @font-oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
}

.data-table__cell {
  font-size: 12px;
  line-height: 16px;
}

.catalog-item__button {
  margin: 0;
  border: none;
  box-shadow: none;
}
