.example {
  background-color: @special-grey;
}

.example__title {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
}

.example__data-title {
  font-family: @font-oswald;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.example__data-description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
}

.example__costs {
  font-family: @font-oswald;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
}
