.example {
  background-color: @special-grey;
}

.example__title {
  font-family: @font-oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__data-title {
  font-size: 12px;
  line-height: 12px;
}

.example__data-description {
  font-family: @font-oswald;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__costs {
  font-family: @font-oswald;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
