.features {
  margin: 0 20px;
  outline: 1px solid #ff8282;
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
  }
}

.features__title {
  margin: 0;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
}

.features__list {
  margin: 38px 0 0 0;
  padding: 0;
  list-style: none;

  outline: 1px solid #68b738;
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.features__item {
  height: 60px;
  margin: 0 0 20px 0;

  &:last-child {
    margin-bottom: 42px;
  }

  outline: 1px solid #111111;
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    width: 46%;
    min-height: 280px;
  }

  @media (min-width: @desktop-width) {
    width: 21%;
    min-height: 280px;
  }
}

.features__description {
  margin: 0;
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 20px;
    background-color: #68b738;
  }
}
