.features {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    border-bottom: 1px solid @special-light-grey-3;
    box-sizing: content-box;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px 0 111px;
    border: none;
  }
}

.features__title {
  margin: 0;
  padding: 0;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
    padding: 15px 0 0 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.features__list {
  margin: 38px 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin: 32px 30px 9px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    margin: 32px 0 9px 0;
  }
}

.features__item {
  min-height: 64px;
  margin: 0 0 16px 0;

  @media (min-width: @tablet-width) {
    width: ~"calc(50% - 30px)";
    min-height: 280px;
    margin: 0 0 37px 0;
  }

  @media (min-width: @desktop-width) {
    width: ~"calc(25% - 60px)";
    min-height: 280px;
    margin: 0;
  }


  &--healthy {
    @media (min-width: @tablet-width) {
      background: url("../img/svg/1.svg") no-repeat;
      background-position: top 40px left 126px;
    }
  }

  &--easy {
    @media (min-width: @tablet-width) {
      background: url("../img/svg/2.svg") no-repeat;
      background-position: top 38px left 119px;
      background-size: 119px 230px;
    }
  }

  &--reach {
    @media (min-width: @tablet-width) {
      background: url("../img/svg/3.svg") no-repeat;
      background-position: top 38px left 124px;
      background-size: 112px 232px;
    }
  }

  &--fast {
    @media (min-width: @tablet-width) {
      background: url("../img/svg/4.svg") no-repeat;
      background-position: top 40px left 124px;
    }
  }
}

.features__description {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: auto;
    height: 80px;
    margin: 0 72px 0 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    min-width: 245px;
    margin: 0;
  }

  &--healthy,
  &--reach {
    @media (min-width: @tablet-width) {
      margin: 0 94px 0 0;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
    flex-shrink: 0;
    background-color: @basic-green;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      margin: 40px 0 32px 0;
    }
  }

  &--healthy {
    &::before {
      background: url("../img/svg/icon-leaf.svg") center no-repeat, @basic-green;
    }
  }

  &--easy {
    &::before {
      background: url("../img/svg/icon-tub.svg") center no-repeat, @basic-green;
    }
  }


  &--reach {
    &::before {
      background: url("../img/svg/icon-eat.svg") center no-repeat, @basic-green;
    }
  }

  &--fast {
    &::before {
      background: url("../img/svg/icon-alarm.svg") center no-repeat, @basic-green;
    }
  }
}
