.footer-bottom {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-bottom__logo {
  height: 24px;
  margin: 33px auto 31px auto;
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    margin: -3px 0 0 30px;
    flex-shrink: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 110px;
  }
}

.footer-bottom__social-list {
  height: 22px;
  margin: 0 20px;
  padding: 19px 77px 21px 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-top: 1px solid @special-light-grey-4;
  border-bottom: 1px solid @special-light-grey-4;

  @media (min-width: @tablet-width) {
    width: 129px;
    margin: 51px 130px auto 156px;
    padding: 0;
    border: none;
  }
}

.footer-bottom__social-item {
  margin: auto 0 auto 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.footer-bottom__social-link {
  color: @special-grey-3;

  &:hover,
  &:active {
    color: @basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-bottom__social-icon {
  vertical-align: bottom;
}

.footer-bottom__copyright {
  margin: 22px 20px 22px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin: 3px 31px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 10px 110px 0 0;
  }
}

.footer-bottom__copyright-text {
  margin: -6px 0 0 0;
  font-size: 16px;
  color: @special-dark-grey;
  text-decoration: none;
  outline: 0;

  @media (min-width: @tablet-width) {
    margin: -7px 22px 0 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-bottom__copyright-image {
  &:hover,
  &:active {
    .footer-bottom__copyright-icon {
      color: @basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-bottom__copyright-icon {
  color: @special-grey-3;
}
