.icon--vk {
  width: 23px;
  height: 16px;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.icon--instagram {
  width: 16px;
  height: 16px;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
    margin: 1px 0 0 3px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 6px;
  }
}

.icon--facebook {
  width: 22px;
  height: 22px;
  margin: 1px 0 0 -9px;

  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
    margin: -5px 0 0 -3px;
  }

  @media (min-width: @desktop-width) {
    margin: -5px 0 0 0;
  }
}
