.icon--vk {
  width: 23px;
  height: 16px;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
    margin: 4px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 8px 0 0 0;
  }
}

.icon--instagram {
  width: 16px;
  height: 16px;
  margin: 4px auto auto 2px;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
    margin: 7px 21px 0 27px;
  }

  @media (min-width: @desktop-width) {
    margin: 11px 21px 0 27px;
  }
}

.icon--facebook {
  width: 22px;
  height: 22px;
  margin: 1px 0 0 0;

  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
    margin: 6px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 9px 0 0 0;
  }
}
