.logo__icon {
  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.logo__text {
  &--mobile {
    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}
