.other-products {
  outline: 1px solid #ff8282;
  outline-offset: -1px;

  @media (min-width: @desktop-width) {
    grid-column: 1 / span 3;
  }
}

.other-products__title {
  margin: 25px 20px 36px 20px;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;

  outline: 1px solid #ff8282;
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    margin: 9px 0 80px 67px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin: 13px 0 81px 0;
  }
}

.other-products__list {
  min-height: 518px;
  margin: 0 20px;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    min-height: 288px;
    margin: 0;
  }
}

.other-products__item {
  min-height: 98px;

  @media (min-width: @desktop-width) {
    min-height: 70px;
  }
}
