.other-products {
  width: 100%;

  @media (min-width: @tablet-width) {
    margin: 11px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 12px 0 0 0;
  }
}

.other-products__title {
  margin: 25px 0 35px 20px;
  display: flex;
  justify-content: space-between;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin: 0 0 80px 0;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      width: 30px;
      height: 2px;
      margin: 22px 37px 0 0;
      flex: 0 0 auto;
      background-color: @basic-green;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      margin: 23px 40px 0 0;
    }
  }

  &::after {
    content: "";
    min-width: 53px;
    height: 2px;
    margin: 15px 0 0 21px;
    flex: 1 0 auto;
    background-color: @basic-green;

    @media (min-width: @tablet-width) {
      margin: 22px 0 0 36px;
    }

    @media (min-width: @desktop-width) {
      margin: 23px 0 0 35px;
    }
  }

  &::after {
    content: "";
    min-width: 53px;
    height: 2px;
    margin: 15px 0 0 21px;
    flex: 1 0 auto;
    background-color: @basic-green;

    @media (min-width: @tablet-width) {
      margin: 22px 0 0 43px;
    }

    @media (min-width: @desktop-width) {
      margin: 22px 0 0 41px;
    }
  }
}

.other-products__list-promo {
  width: ~"calc(100% - 40px)";
  margin: 0 20px 35px 20px;

  @media (min-width: @tablet-width) {
    width: ~"calc(100% - 60px)";
    margin: 0 30px 76px 30px;
  }

  @media (min-width: @desktop-width) {
    width: ~"calc(100% - 220px)";
    margin: 0 110px 86px 110px;
    display: flex;
    justify-content: space-between;
  }
}

.other-products__list {
  width: 100%;
  min-height: 518px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    min-height: 556px;
  }

  @media (min-width: @desktop-width) {
    width: ~"calc(75% - 40px)";
    min-height: 288px;
    margin: 0;
    flex-grow: 1;
  }
}

.other-products__item {
  width: 100%;
  height: 129px;

  @media (min-width: @tablet-width) {
    height: 139px;
  }

  @media (min-width: @desktop-width) {
    height: 72px;
  }
}

.other-products__promo {
  height: 289px;
  margin: 38px 0 0 0;
  background: url("../../img/gift-photo-mobile.jpg") no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: @basic-green;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-photo-mobile-2x.jpg");
  }

  @media (min-width: @tablet-width) {
    height: 200px;
    margin: 69px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../img/gift-photo-tablet.jpg") no-repeat;
    background-size: 100% auto;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-tablet-2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    width: ~"calc(25% - 80px)";
    height: 289px;
    margin: 0 0 0 80px;
    flex-grow: 1;
    display: block;
    background: url("../../img/gift-photo-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-desktop-2x.jpg");
    }
  }
}

.other-products__promo-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic-white;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    margin: 58px 0 48px 0;
    display: block;
    background-image: url("../../img/svg/icon-gift.svg");

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 82px;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      margin: 56px 0 46px 0;
    }
  }

  @media (min-width: @tablet-width) {
    margin: auto 124px auto 78px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    flex-direction: column;
    text-align: center;
  }
}
