.page-header {
  min-height: 66px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-height: 100px;
    margin: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    min-height: 130px;
    margin: 0 110px;
  }
}

.page-header__logo {
  margin: 0;

  outline: 3px solid #ff8282;
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }
}

.page-header__text-logo {
  outline: 3px solid #ff8282;
  outline-offset: -3px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__icon-logo {
  outline: 3px solid #ff8282;
  outline-offset: -3px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__nav {
  margin: 0;
  outline: 3px solid #68b738;
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    width: 62%;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}
