.page-main__title {
  margin: 27px 0 41px 20px;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  outline: 1px solid #ff8282;
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    margin: 65px 0 83px 30px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    margin: 74px 0 84px 110px;
  }

  &--contrast {
    color: @basic-white;
    text-align: center;
  }
}

.page-main__call-to-action {
  font-family: @font-oswald;
  text-transform: uppercase;
  color: @basic-black;
}

.page-main__comment {
  line-height: 16px;
  color: @basic-black;
}
