.page-footer {
  background-color: @basic-grey;

  @media (min-width: @desktop-width) {
    display: block;
    position: relative;
  }
}

.page-footer__contacts {
  height: 114px;
  margin: 0;

  @media (min-width: @tablet-width) {
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    min-width: 570px;
    height: 200px;
    margin: 0;
    display: block;
    position: absolute;
    top: 95px;
    left: 110px;
  }

  &--contrast-background {
    background-color: @basic-white;
  }
}

.page-footer__map-area {
  width: 100%;
  min-height: 362px;
}

.page-footer__map {
  width: 100%;
  height: 362px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.page-footer__bottom {
  width: 100%;
  min-height: 236px;
  margin: 0;

  @media (min-width: @tablet-width) {
    min-height: 138px;
  }
}
