.page-main__title {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;

  &--contrast {
    color: @basic-white;
    text-align: center;
  }
}

.page-main__call-to-action {
  font-family: @font-oswald;
  text-transform: uppercase;
  color: @basic-black;
}

.page-main__comment {
  line-height: 16px;
  color: @basic-black;
}
