.page {
  font-family: "Nimbus Sans L", "Helvetica CY", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.page__body {
  background-color: @bg-main;
}
