.product-item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    border-top: 1px solid @special-grey;

    &:last-child {
      border-bottom: 1px solid @special-grey;
    }
  }
}

.product-item__name {
  margin: 0 0 0 0;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;

  @media (min-width: @tablet-width) {
    margin: 26px 0 28px 38px;
  }

  @media (min-width: @desktop-width) {
    min-width: 245px;
    margin: 0;
  }
}

.product-item__table {
  min-width: 100%;
  margin: 13px 0 15px 0;

  @media (min-width: @tablet-width) {
    min-width: 40%;
    margin: 0 37px 0 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 285px;
    margin: 0 40px 0 80px;
  }
}

.product-item__table-cell {
  width: 50%;
  line-height: 14px;

  &--right {
    text-align: right;
  }
}

.product-item__button {
  min-width: 100%;
  margin: 0 0 19px 0;
  padding: 10px 44px;

  @media (min-width: @tablet-width) {
    margin: 0 38px 28px 38px;
  }

  @media (min-width: @desktop-width) {
    min-width: 244px;
    margin: 0;
  }
}
