.product-item {
  padding: 0;
  border-top: 1px solid @special-grey;
  box-sizing: border-box;

  &:last-child {
    border-bottom: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    border-left: 1px solid @special-grey;
    border-right: 1px solid @special-grey;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}

.product-item__info {
  width: 100%;
  margin: 12px 0 14px 0;

  @media (min-width: @tablet-width) {
    width: ~"calc(100% - 76px)";
    margin: 26px 38px 25px 38px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    margin: 0 40px 0 0;
    align-items: center;
  }
}

.product-item__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: @special-dark-grey-2;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: ~"calc(50% - 40px)";
    margin: 0 40px 0 0;
  }
}

.product-item__name {
  margin: 0;
  padding: 0 0 0 1px;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey-2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.product-item__table {
  width: 100%;
  margin: 15px 0 0 0;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin: 0 0 0 auto;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    flex-shrink: 0;
  }
}

.product-item__table-cell {
  margin: 0;
  padding: 0;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: ~"calc(100% - 50px)";
    padding: 7px 0 0 20px;
    text-align: left;
  }

  &--right {
    width: 94px;
    text-align: right;

    @media (min-width: @desktop-width) {
      width: 47px;
      text-align: left;
    }
  }
}

.product-item__button {
  width: 100%;
  margin: 0;
  padding: 10px 44px;
  display: block;

  @media (min-width: @tablet-width) {
    width: ~"calc(100% - 75px)";
    height: 38px;
    margin: 0 37px 29px 38px;
    padding: 7px 44px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
    height: 40px;
    margin: 0;
    flex-grow: 1;
  }
}
