.programs {
  margin: 0;
  outline: 1px solid #000000;
  outline-offset: -1px;
}

.programs__list {
  margin: 22px 20px 27px 20px;
  padding: 0;
  list-style: none;

  outline: 1px solid #68b738;
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  margin: 0;
  background-color: @basic-grey;

  outline: 1px solid #ff8282;
  outline-offset: -1px;

  &:first-child {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 30px 0;
  }

  @media (min-width: @desktop-width) {
    width: 47%;
    min-height: 374px;
    margin-top: 0;
  }
}

.programs__title {
  margin: 0;
  padding: 21px 0 22px 22px;
  display: flex;
  align-items: center;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black;

  outline: 1px solid #68b738;
  outline-offset: -1px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding: 77px 0 24px 53px;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 36px;
    line-height: 36px;
  }

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 53px;
    flex-shrink: 0;
    margin-right: 19px;
    background-color: @basic-green;

    @media (min-width: @tablet-width) {
      position: absolute;
      top: 81px;
      right: 0;
      width: 200px;
      height: 211px;
      margin-right: 62px;
    }
  }
}

.programs__text {
  margin: 0 20px;
  padding: 0 0 23px 0;
  border-bottom: 1px solid @special-light-grey-4;

  @media (min-width: @tablet-width) {
    margin: 0 279px 0 52px;
    font-size: 16px;
    line-height: 24px;
    border: none;

    outline: 1px solid #68b738;
    outline-offset: -1px;
  }
}

.programs__link {
  padding: 15px 0 18px 19px;
  display: flex;
  align-items: center;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    padding: 25px 0 53px 52px;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 12px;
    flex-shrink: 0;
    margin-left: 15px;
    background: url("../../img/svg/icon-arrow.svg") no-repeat;
  }

  &:hover,
  &:active {
    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 12px;
      flex-shrink: 0;
      margin-left: 15px;
      background: url("../../img/svg/icon-arrow-activ.svg") no-repeat;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
