.promo {
  margin: 0;
  background: @basic-green url("../../img/index-bg-promo.png") no-repeat;
  background-blend-mode: soft-light;

  outline: 1px solid #ff8282;
  outline-offset: -1px;
}

.promo__wrapper {
  margin: 0 20px;
  padding: 0;
  outline: 1px solid rgba(49, 15, 241, 0.8);
  outline-offset: -1px;
}

.promo__slogan {
  margin: 0;
  font-family: @font-oswald;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @basic-white;
}

.promo__button {
  margin: 0;
  padding: 14px 26px;
  font-size: 14px;
  line-height: 18px;
}
