.radio__label {
  position: relative;
  margin: auto auto 13px 45px;
  padding: 6px 0;
  color: @special-dark-grey-2;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0 0 13px 60px;
    padding: 5px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:disabled {
    opacity: 0.3;
  }

  &::before,
  &::after {
    position: absolute;
    border-radius: 50%;
    content: "";
  }

  &::before {
    top: 0;
    left: -45px;
    width: 30px;
    height: 30px;
    border: 1px solid @special-grey;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      left: -60px;
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    top: 0;
    left: -37px;
    width: 14px;
    height: 14px;
    background-color: @basic-green;
    transform: scale(0);
    transition-duration: 0.28s;
    transition-property: transform;
  }
}

.radio__button {
  display: none;

  &--active {
    .radio__label::after {
      transform: scale(1);
    }
  }
}
