.show-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.show-more__title {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-black;
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
}

.show-more__button {
  width: 100%;
}
