@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width: 320px;

@basic-grey: #f2f2f2;
@special-grey: #ebebeb;
@basic-green: #68b738;
@font-oswald: "Oswald", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@font-color: #444444;
@bg-main: #ffffff;
@bg-green: rgba(104, 183, 56, 0.85);
