@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

@header: 66px;
@header-opened: 264px;

@font-oswald: "Oswald", "Nimbus Sans L", "Helvetica", "Arial", sans-serif;

@basic-white: #ffffff;
@basic-black: #000000;
@special-black: #111111;
@basic-green: #68b738;
@special-green: #5eaa2f;
@cover-green: rgba(104, 183, 56, 0.85);
@basic-grey: #f2f2f2;
@special-grey: #cdcdcd;
@special-grey-2: #ebebeb;
@special-grey-3: #666666;
@special-light-grey: #e7e7e7;
@special-light-grey-2: #eaeaea;
@special-light-grey-3: #e6e6e6;
@special-light-grey-4: #d9d9d9;
@special-light-grey-5: #d3d3d3;
@special-dark-grey: #444444;
@special-dark-grey-2: #222222;
@status-error: #ff8282;
